<div class="dnd5e chat-card item-card midi-qol-item-card" data-actor-id="{{actor.id}}" data-item-id="{{item._id}}"
  data-actor-uuid="{{actor.uuid}}" data-item-uuid="{{itemUuid}}" {{#if tokenId}}data-token-id="{{tokenId}}" {{/if}}
  {{#if tokenUuid}}data-token-uuid="{{tokenUuid}}" {{/if}} {{#if isSpell}}data-spell-level="{{item.system.level}}"
  {{/if}} {{#if isPower}}data-power-level="{{item.system.level}}" {{/if}}>

  <header class="card-header flexrow">
    <img src="{{item.img}}" title="{{item.name}}" width="36" height="36" />
    <h3 class="item-name">{{item.name}}</h3>
  </header>

  <div class="card-content">
    {{#unless hideItemDetails}}
    {{{data.description.value}}}
    {{#if data.materials.value}}
    <p><strong>{{ RequiredMaterials }}</strong> {{data.materials.value}}</p>
    {{/if}}
    {{/unless}}
  </div>

  <div class="card-buttons">
    {{#if hasAttack}}
    {{#if mergeCardMulti}}
    <div class="midi-qol-attack-buttons flexrow 5">
      <button data-action="attack-dis" style="flex: 1 1 0" data-tooltip="{{localize 'DND5E.Disadvantage'}}"><i class="fas fa-caret-down"></i><i class="fas fa-dice-d20"></i><i class="fas fa-dice-d20"></i></button>
      <button data-action="attack" style="flex: 3 1 0">{{ Attack }}</button>
      <button data-action="attack-adv" style="flex: 1 1 0" data-tooltip="{{localize 'DND5E.Advantage'}}"><i class="fas fa-caret-up"></i><i class="fas fa-dice-d20"></i><i class="fas fa-dice-d20"></i></button>
    </div>
    {{else}}
    <div class="midi-qol-attack-buttons">
      <button data-action="attack">{{ Attack }}</button>
    </div>
    {{/if}}
    {{/if}}
    {{#if condensed}}
    <div class="flexrow 2">
      <div class="midi-qol-attack-roll">
        <div class="end-midi-qol-attack-roll"></div>
      </div>
      <div class="midi-qol-damage-roll">
        <div class="end-midi-qol-damage-roll"></div>
      </div>
    </div>
    {{else}}
    <div>
      <div class="flexrow 1">
        <div class="midi-qol-attack-roll">
          <div class="end-midi-qol-attack-roll"></div>
        </div>
      </div>
      <div class="flexrow 1">
        <div class="midi-qol-damage-roll">
          <div class="end-midi-qol-damage-roll"></div>
        </div>
      </div>
    </div>
    {{/if}}
    <div class="flexrow 1">
      <div class="midi-qol-bonus-roll">
        <div class="end-midi-qol-bonus-roll"></div>
      </div>
    </div>
    <div class="flexrow 1">
      <div class="midi-qol-other-roll">
        <div class="end-midi-qol-other-roll"></div>
      </div>
    </div>

    {{#if hasDamage}}
    {{#if mergeCardMulti}}
    <div class="midi-qol-damage-buttons flexrow 5">
      <button data-action="damage-nocritical" style="flex: 1 1 0" data-tooltip="{{localize 'DND5E.Normal'}}"><i class="fas fa-dice-d6"></i></button>
      <button data-action="damage" style="flex:3 1 0">{{ dmgBtnText }}</button>
      <button data-action="damage-critical" style="flex: 1 1 0" data-tooltip="{{localize 'DND5E.Critical'}}"><i class="fas fa-dice-d6"></i><i class="fas fa-dice-d6"></i></button>
    </div>
    {{else}}
    <div class="midi-qol-damage-buttons">
      <button data-action="damage">{{ dmgBtnText }}</button>
    </div>
    {{/if}}
    {{/if}}

    {{#if isVersatile}}
    <button class="midi-qol-versatile-damage-button" data-action="versatile">{{ versaBtnText }}</button>
    {{/if}}

    {{#if hasSave}}
    <button data-action="save" data-ability="{{data.save.ability}}">
      {{ SavingThrow }} {{labels.save}}
    </button>
    {{/if}}

    {{#if data.formula}}
    <button class="midi-qol-otherDamage-button" data-action="formula">{{ OtherFormula }}</button>
    {{/if}}

    {{#if hasAreaTarget}}
    <button data-action="placeTemplate">{{ PlaceTemplate }}</button>
    {{/if}}

    {{#if isTool}}
    <button data-action="toolCheck" data-ability="{{system.ability.value}}">{{ Use }} {{item.name}}</button>
    {{/if}}
    {{#if hasAbilityCheck}}
    <button data-action="abilityCheck" data-ability="{{data.ability}}">{{labels.abilityCheck}}</button>
    {{/if}}
    {{#if hasEffects}}
    <button data-action="applyEffects">{{ localize "midi-qol.ApplyEffects" }}</button>
    {{/if}}
    {{#if isMerge}}
    <div class="midi-qol-hits-display">
      <div class="end-midi-qol-hits-display"></div>
    </div>
    <div class="midi-qol-saves-display">
      <div class="end-midi-qol-saves-display"></div>
    </div>
    {{/if}}
    {{#if confirmAttackDamage}}
    <div class="midi-qol-confirm-damage-roll">
      <div class="flexrow 3">
        <button class="midi-qol-confirm-damage-roll-complete-miss" data-action="confirm-damage-roll-complete-miss">{{localize "midi-qol.ConfirmMiss"}}</button>
        <button class="midi-qol-confirm-damage-roll-complete" data-action="confirm-damage-roll-complete">{{localize "midi-qol.ConfirmRoll"}}</button>
        <button class="midi-qol-confirm-damage-roll-complete-hit" data-action="confirm-damage-roll-complete-hit">{{localize "midi-qol.ConfirmHit"}}</button>
      </div>
    {{#if canCancel}}
    <button class="midi-qol-confirm-damage-roll-cancel" data-action="confirm-damage-roll-cancel">{{localize "Cancel"}}</button>
    {{/if}}
    </div>
  {{/if}}
  </div>

  <footer class="card-footer">
    {{#if showProperties}}
    {{#each data.properties}}
    <span>{{this}}</span>
    {{/each}}
    {{/if}}
  </footer>
</div>