<div ">
  <!-- Config Settings Configuration Tabs -->
  <nav class=" sheet-tabs tabs" data-group="sections">
  <a class="item" data-tab="summary"><i class="fas fa-cogs"></i> {{localize "midi-qol.Summary"}}</a>
  <a class="item" data-tab="commonModules"><i class="fas fa-cogs"></i> {{localize "midi-qol.CommonModules"}}</a>
  <a class="item" data-tab="problems"> {{localize "midi-qol.Problems"}}</a>
  <a class="item" data-tab="errors"> {{localize "midi-qol.Errors"}}</a>
  <a class="item" data-tab="allModules"><i class="fas fa-cogs"></i> {{localize "midi-qol.AllModules"}}</a>

  </nav>
  <form class="flexcol">
    <div class="scrollable">
      <section id="trouble=shooter-tabs" class="midi-contents">
        <!-- Summary -->
        <div class="tab" data-tab="summary" data-group="sections">
          <div class="midi-qol-box">
            <table>
              <col width="25%">
              <col width="75%">
              {{#if isLocal}}
              <tr>Local Client Settings</tr>
              {{else}}
              <tr>
                <td>Settings from File</td>
                <td>{{fileName}}</td>
              </tr>
              {{/if}}
            </table>
          </div>
          <div class="midi-qol-box">
            <table>
              <col width="70%">
              <col width="30%">
              <tr>
                <td>Foundry Version</td>
                <td>{{summary.[foundry-version]}}</td>
              </tr>
              <td>{{summary.[Game System]}} Version</td>
              <td>{{summary.[Game System Version]}}</td>
              </tr>
              <tr>
                <td>Midi Version</td>
                <td>{{summary.[midi-qol-version]}}</td>
              </tr>
              <tr>
                <td>Dynamic Active Effects Version</td>
                <td>{{summary.[Dynamic Active Effects Version]}}</td>
              </tr>
            </table>
          </div>
          <div class="midi-qol-box">
            <table>
              <col width="30%">
              <col width="70%">
              <tr>
                <th style="text-align: center" colspan="2">Foundry Data</th>
              </tr>
              {{#each summary.coreSettings as |value key|}}
              <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
              </tr>
              {{/each}}
            </table>
          </div>
          <div class="midi-qol-box">
            <table>
              <col width="70%">
              <col width="30%">
              <tr>
                <th style="text-align: center" colspan="2">{{summary.[Game System]}} Settings</th>
                {{#each summary.gameSystemSettings as |value key|}}
              <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
              </tr>
              {{/each}}
            </table>
          </div>
          <div class="midi-qol-box">
            <table>
              <col width="70%">
              <col width="30%">
              <tr>
                <th style="text-align: center" colspan="2">Specific Module Settings</th>
                {{#each summary.moduleSettings as |value key|}}
              <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
              </tr>
              {{/each}}
            </table>
          </div>
          <div class="midi-qol-box">
            <table>
              <col width="70%">
              <col width="30%">
              <th style="text-align: center" colspan="2">Select Midi Settings</th>
              {{#each summary.midiSettings as |value key|}}
              <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
              </tr>
              {{/each}}
            </table>
          </div>
        </div>
        <!-- Common Modules Tab -->
        <div class="tab" data-tab="commonModules" data-group="sections">
          <div class="midi-qol-box">
            <div>
              <table>
                <tr>
                  <td>ID</td>
                  <td>{{localize "midi-qol.Active"}}</td>
                  <td>Name</td>
                  <td>Version</td>
                  <td>FVTT Version</td>
                </tr>
                {{#each summary.knownModules as |versionInfo moduleId|}}
                {{#if versionInfo.active}}
                <tr>
                  {{else}}
                <tr class="midi-qol-very-faint">
                  {{/if}}
                  <td>{{moduleId}}</td>
                  <td>{{active}}</td>
                  <td>{{versionInfo.title}}</td>
                  <td>{{versionInfo.moduleVersion}}</td>
                  <td>{{versionInfo.foundryVersion}}</td>
                </tr>
                {{/each}}
              </table>
            </div>
          </div>
        </div>
        <!-- Problems Tab -->
        <div class="tab" data-tab="problems" data-group="sections">
          <div class="midi-qol-box">
            {{#if hasProblems}}
            <table>
              <th style="text-align: center" colspan="4">Common Problems</th>
              <tr>
                <th>Severity</th>
                <th>Module Id</th>
                <th>Problem</th>
                <th>Fix</th>
              </tr>
              {{#each problems as |problem moudleId|}}
              <tr>
                <td>{{problem.severity}}</td>
                <td>{{moduleId}}</td>
                <td>{{problem.problemSummary}}</td>
                <td>{{problem.fixer}}</td>
              </tr>

              {{#if problem.hasFixerFunc}}
              <tr>
                <td></td>
                <td></td>
                <td style="text-align: center">
                  <div class="midi-qol-box">
                    <div class="trouble-shooter-action-label" id="fixer-{{problem.fixerid}}"><strong>{{localize "Auto
                        Fix"}}</strong></div>
                  </div>
                </td>
                <td style="text-align: center;">Click on Auto Fix to resolve the problem</td>
              </tr>
              {{/if}}
              {{#if problem.problemDetail}}
              <tr>
                <td></td>
                <td>Details</td>
                <td colspan=3>{{problem.problemDetail}}</td>
              </tr>
              {{/if}}

              {{/each}}
            </table>
            {{else}}
            <div style="text-align: center">No Problems detected</div>
            {{/if}}
          </div>
          <div class="midi-qol-box">
            {{#if hasIncompatible}}
            <table>
              <t style="text-align: center" colspan="2">Incompatible Modules Active</th>
                <tr>
                  <td>Module Id</td>
                  <td>Module Name</td>
                </tr>
                {{#each summary.incompatible as |module|}}
                <tr>
                  <td>{{module.key}}</td>
                  <td>{{module.title}}</td>
                </tr>
                {{/each}}
            </table>
            {{else}}
            <div style="text-align: center">No Incompatible Modules Active</div>
            {{/if}}
          </div>
          <div class="midi-qol-box">
            {{#if hasFoundryModuleProblems}}
            <table>
              <col width="15%">
              <col width="15%">
              <col width="70%">
              <th style="text-align: center" colspan="3">
                Foundry Identified Compatibility Issues
              </th>
              <tr>
                <th style="text-align: left">Id</th>
                <th style="text-align: left">Type</th>
                <th style="text-align: left">Title</th>
              </tr>
              {{#each summary.foundryModuleIssues as |foundryDetail key|}}
              <tr>
                <td><strong>{{key}}</strong></td>
                <td>{{foundryDetail.type}}</td>
                <td>{{foundryDetail.title}}</td>
              </tr>
              {{#each foundryDetail.error as |error|}}
              <tr>
                <td></td>
                <td>Error</td>
                <td colspan=1>
                  {{error}}
                </td>
              </tr>
              {{/each}}
              {{#each foundryDetail.warning as |warning|}}
              <tr>
                <td></td>
                <td>Warning</td>
                <td colspan=1>
                  {{warning}}
                </td>
              </tr>
              {{/each}}
              {{/each}}
            </table>
            {{else}}
            <div style="text-align: center">No Foundry module issues reported</div>
            {{/if}}
          </div>
          <div class="midi-qol-box">
            {{#if hasOutOfDate}}
            <table>
              <th style="text-align: center" colspan="5">
                Out of date modules installed
              </th>
              <tr>
                <th style="text-align: left">Id</th>
                <th style="text-align: left">Active</th>
                <th style="text-align: left">Title</th>
                <th style="text-align: left">Version</th>
                <th style="text-align: left">Foundry Version</th>
              </tr>
              {{#each summary.outOfDate as |moduleVersion|}}
              {{#if moduleVersion.active}}
              <tr>
                {{else}}
              <tr class="midi-qol-very-faint">
                {{/if}}
                <td>{{moduleVersion.key}}</td>
                <td>{{moduleVersion.active}}</td>
                <td>{{moduleVersion.title}}</td>
                <td>{{moduleVersion.moduleVersion}}</td>
                <td>{{moduleVersion.foundryVersion}}</td>
              </tr>
              {{/each}}
            </table>
            {{else}}
            <div style="text-align: center">No Out of Date Modules Installed</div>
            {{/if}}
          </div>
        </div>
        <!-- Errors Tab -->
        <div class="tab" data-tab="errors" data-group="sections">
          <div class="midi-qol-box">
            {{#if hasErrors}}
            <table>
              <col width="25%">
              <col width="75%">
              <tr>
                <th colspan="=2">Recorded Errors</th>
              </tr>
              <tr>
                <td>Time</td>
                <td>Error</td>
              </tr>
              {{#each errors as |error|}}
              <tr>
                <td>{{error.timeString}}</td>
                <td>{{error.message}}</td>
              </tr>
              {{#each error.error.stack as |stackLine|}}
              <tr>
                <td></td>
                <td>{{stackLine}}</td>
              </tr>
              {{/each}}
              {{/each}}
            </table>
            {{else}}
            No Errors detected
            {{/if}}
          </div>
        </div>
        <!-- All Modules Tab -->
        <div class="tab" data-tab="allModules" data-group="sections">
          <div class="midi-qol-box">
            <table>
              <tr>
                <th style="text-align: center" colspan="5">All Installed Modules</th>
              </tr>
              <tr>
                <th style="text-align: left">Module id</th>
                <th style="text-align: left">Active</th>
                <th style="text-align: left">Title</th>
                <th style="text-align: left">Version</th>
                <th style="text-align: left">Foundry Version</th>
              </tr>
              {{#each modules as |detail moduleId|}}
              {{#if detail.active}}
              <tr>
                {{else}}
              <tr class="midi-qol-very-faint">
                {{/if}}
                <td>{{moduleId}}</td>
                <td>{{detail.active}}</td>
                <td>{{detail.title}}</td>
                <td>{{detail.version}}</td>
                <td>{{detail.compatibility}}</td>
              </tr>
              {{#if detail.settings}}
              {{#each detail.settings as |value key|}}
              <tr>
                <td></td>
                <td>{{key}}</td>
                <td>{{value}}</td>
                <td></td>
                <td></td>
              </tr>
              {{/each}}
              {{/if}}
              {{/each}}
            </table>
          </div>
        </div>
      </section>
    </div>
    <footer class="sheet-footer flexrow">
      <button type="submit" name="submit" id="midi-qol-regenerate-troubleshooter">
        <i class="fas fa-cogs"></i> {{localize "MENU.Reload"}}
      </button>
      <button type="submit" name="submit" id="midi-qol-clear-errors-troubleshooter">
        <i class="fas fa-cogs"></i> {{localize "Clear Errors"}}
      </button>
      <button type="submit" name="submit" id="midi-qol-export-troubleshooter">
        <i class="fas fa-save"></i> {{localize "SIDEBAR.Export"}}
      </button>
      <button type="submit" name="submit" id="midi-qol-import-troubleshooter">
        <i class="fas fa-load"></i> {{localize "SIDEBAR.Import"}}
      </button>
      <button type="submit" name="submit" id="midi-qol-overwrite-midi-settings">
        <i class="fas fa-load"></i> {{localize "Overwrite Midi Settings"}}
      </button>
    </footer>
  </form>
</div>